.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* this is the additional styling */



ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;

}

li a {
  display: block;
  background-color: #dddddd;
  font-weight: 600;
}



h2, h3{
  text-align: left;
  color:teal;
  padding-top: 30px;
 
}


h1 {
  text-align: left;
  color:teal;
  padding:10px;
}


.ui header{
  padding-top: 20px ;
}


.information{
  background-color: teal;
  color:white;
  
}


h4.information{
  background-color: teal;
  color:white;
  text-align: left;

  
}


img{
  margin:0;
  padding:0;
}


p{
  text-align: left;
}




.footer-color{
  background-color: #BCCB37;
  width:100%;

  bottom:0;
  color: white;
  font-size: 12px;
  height: 64px;
  padding-top: 20px;
}

p.footer-color{
  text-align: center;
}




.newaccount{

background-color: white;
}


h1.GarageCards-title{
  padding:20px;
}


.garage-card{
  padding:20px;
  margin-right:20px;
}



.logon{
  background-color: lightblue;
  padding-top: 50px;
  
}


